<section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000" ui-view="front-slider">
	<!-- <ul class="slides">
		<li class="imagebg" ng-repeat="permission in vm.sliderPermissions">
			<div class="background-image-holder">
				<img id="xxxxx" alt="image" src="img/slider/{{permission.topic}}"> 	
			</div>
		</li>
	</ul> -->
	<ul class="slides">
		<li class="imagebg" data-overlay="4">
			<div class="background-image-holder">
				<img alt="image" src="img/hero3.jpg" />
			</div>
			<!-- <div class="container pos-vertical-center">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Versichern.online</h1>
						<p class="lead">
							Download the Android app now
						</p>
						<a class="btn btn--primary" href="variant/builder.html">
							<span class="btn__text">
								Download
							</span>
						</a>
					</div>
				</div>
			</div> -->
		</li>
		<li class="imagebg" data-overlay="4">
			<div class="background-image-holder">
				<img alt="image" src="img/hero4.jpg" />
			</div>
			<!-- <div class="container pos-vertical-center">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Versichern.online</h1>
						<p class="lead">
							Download IOS app now
						</p>
						<a class="btn btn--primary" href="#">
							<span class="btn__text">
								Download
							</span>
						</a>
					</div>
				</div>
			</div> -->
		</li>
	</ul>
</section>