<ul class="slides">
	<li class="imagebg" data-overlay="4">
		<div class="background-image-holder">
			<img alt="image" src="img/hero3.jpg" />
		</div>
		<div class="container pos-vertical-center">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Combine, Edit, Deploy.</h1>
					<p class="lead">
						Building a beautiful website is simple with Pillar and Variant Page Builder
					</p>
					<a class="btn btn--primary" href="variant/builder.html">
						<span class="btn__text">
							Try Builder Live
						</span>
					</a>
				</div>
			</div>
		</div>
	</li>
	<li class="imagebg" data-overlay="4">
		<div class="background-image-holder">
			<img alt="image" src="img/hero4.jpg" />
		</div>
		<div class="container pos-vertical-center">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Your Site, Your Way.</h1>
					<p class="lead">
						Carefully styled, reusable elements and multiple colour and font options
					</p>
					<a class="btn btn--primary" href="#">
						<span class="btn__text">
							Purchase Pillar Now
						</span>
					</a>
				</div>
			</div>
		</div>
	</li>
</ul>