<section class="content">  
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Control Panel of Versichern Online</h3>
          <div class="box-tools pull-right">
            
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
				Manage your backend components and have fun!
			</div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>
